.responsiveContainer {
  max-width: 100%;

  /* mantine xs breakpoint as defined in postcss.config.mjs */
  @media (min-width: 36rem) {
    max-width: 36rem;
  }

  /* mantine sm breakpoint as defined in postcss.config.mjs */
  @media (min-width: 48rem) {
    max-width: 48rem;
  }

  /* mantine md breakpoint as defined in postcss.config.mjs */
  @media (min-width: 62rem) {
    max-width: 62rem;
  }

  /* mantine lg breakpoint as defined in postcss.config.mjs */
  @media (min-width: 75rem) {
    max-width: 75rem;
  }

  /* mantine xl breakpoint as defined in postcss.config.mjs */
  @media (min-width: 88rem) {
    max-width: 88rem;
  }
}
